{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block javascripts %}
    <script>

        $("#clientForm").submit(function(event){
            let clientName = $('#clientName').val()
            addClient(clientName)
            event.preventDefault()
        })


        function addClient(name) {

            console.log(name);

            var ajaxAddClient = $.ajax({
                url: '{{ path('add-new-client') }}',
                type: 'POST',
                data: {clientName: name},
                dataType: 'json',
                async: false,
            });

            ajaxAddClient.done(function (data) {
                console.log(data);
                console.log("Success")
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("Fail")
            });
        }

    </script>
{% endblock %}

{% block body %}

    <form id="clientForm">
        <div class="form-group">
            <input type="text"
                   id="clientName"
                   name="clientName"
                   required="required"
                   class="form-control">

        </div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="clientPassword" required>
        <button class="btn">Send</button>
    </form>

{% endblock %}

